<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hemingway's links - URL shortener service</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <h1>Shrinks your links all the way down!</h1>
  <form method="post"  action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сократить">
  </form>
  {% if my_links %}
  <h2>Мои ссылки</h2>
  <dl>
    {% for link in my_links %}
    <dt><a href="{% url 'redirect' link.path %}">{{ link.path }}</a></dt>
    <dd>{{ link.url }}</dd>
    {% endfor %}
  </dl>
  {% endif %}
  <!-- <script src="scripts.js"></script> -->
</body>

</html>
